OpenCC
datasets
flask
funasr
funasr_onnx
librosa
modelscope
onnxruntime
onnxruntime-gpu; sys_platform != 'darwin' and platform_machine != 'arm64' and platform_machine != 'aarch64'
optimum[onnxruntime]
psutil
pysrt
pytest
pytubefix
resampy
torch
torchaudio
transformers[onnx]